@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Gilda+Display&family=Rock+Salt&display=swap');

body {
    background-color:#f6f2fb;
}

.topBar {
    display:inline-block;
    width: 100%;
    height: 120px;
    background-color: #cec6f9;
}

.topBar h1{
    font-family: Nabla;
    font-size: 60px;
    color: #00008B; 
    text-align: center;
    padding: 5px;
    margin: auto;

}

.posts{
    margin-top: 15px;
    background-color: #eee4fa;
}

.posts > div {
    width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(250, 240, 227);
}



.intro {
    display: flex;
    height: 40px;
    padding: 15px;
    font-family: Gentium Book Basic;
    background-color: #ddd6fe;
}

h2 {
    width: 500px;
    margin: auto;
}

span {
    color:darkgrey;
    opacity: 0.8;
    font-size: 20px;
    padding-top: 10px;
    margin: auto;
}

img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

#description {
    width: 600px;
    background-color: #ddd6fe;
}

#description > p {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-family: Gilda Display;
    margin-top: 0%;
}


